<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <h1>Forget Password</h1>
    <p>Enter your email to send a verification and reset password link</p>
    <form action="/forget-password" method="post">
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" required>
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>